body{
    font-family: "Montserrat", sans-serif;
}
#sourcesContainer{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 12px;
    margin: 12px;

    background-color: white;
    border-radius: 12px;
}
.sourceCategory{
    padding: 20px;
}
.sourceCategory li{
    margin: 8px;
    font-style: italic;
    font-weight: 600;
}
#sources a{
    color: blue;
    font-style: normal;
    font-weight: 500;
}


@media (width < 800px){
    main{
        font-size: smaller;
    }
}
@media (width < 440px){
    main{
        font-size: small;
    }
}