/* Body */
body{
    background-image: url(bilder/Bakgrunn_landingPage.jpg);
}

/* Main */
main{
    display: flex;
    flex-direction: column;

    align-items: center;
}
/* Main */
/* Overskrift */
#overskrift{
    background-color: rgb(89, 87, 69);

    margin: 70px 5%;
    padding: 20px 0;

    width: 80%;
}
#overskrift > h1{
    font-family: "rowdies", sans-serif;
}

/* Main */
/* Spill-container */
#spillContainer{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    border: solid 4px #24252a;
    border-radius: 12px;

    height: 80%;
    width: 80%;
}


/* Spill-container */
/* spillEl */
.spillDiv{
    background-color: #24252a;

    width: 300px;
    height: 200px;

    margin: 30px;

    border: solid 3px black;
    border-radius: 12%;

    overflow: hidden;
}
.spillTittel{
    background-color: rgb(67, 211, 240);

    font-family: "rowdies", sans-serif;
    color:white;
    font-weight: 300;
    font-size: larger;

    width:110%;
    height: 12%;
    padding-left: 12%;
}
.spillLink{
    display:flex;
    flex-direction:column;
    justify-content: flex-end;

    text-decoration: none;

    width:100%;
    height:100%;
}
