/* Body */
body{
    background-color:aliceblue;
    font-family: "Montserrat", sans-serif;
}

/* Main */
main{
    background-color: white;

    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 12px;
}
/* Main */
/* Overskrift */
#overskrift{
    width: 80%;
    display:flex;
    justify-content: center;
}

/* Main */
/* Spill-container */
#spillContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    height: 80%;
    width: 80%;
}


/* Spill-container */
/* spillEl */
.spillDiv{
    background-color: #24252a;

    width: 300px;
    height: 200px;

    margin: 30px;

    border: solid 3px black;
    border-radius: 12%;

    overflow: hidden;
}
.spillTittel{
    background-color: rgb(67, 211, 240);

    font-family: "rowdies", sans-serif;
    color:white;
    font-weight: 300;
    font-size: larger;

    width:110%;
    height: 12%;
    padding-left: 12%;
}
.spillLink{
    display:flex;
    flex-direction:column;
    justify-content: flex-end;

    text-decoration: none;

    width:100%;
    height:100%;
}
