/* Body */

/* Main */
/* Triviacontainer */
#triviaContainer{
    display:flex;
    flex-direction: column;
    align-items: center;

    font-family: "Inter", sans-serif;
}
/* Triviacontainer */
/* functioncontainer */
#FunctionContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 15px;

    width: 100%;
}

/* functionContainer */
/* category */
#currentCatagory{
    font-size: 14px;

    opacity: 0.6;

    padding-top: 12px;
    padding-bottom: 16px;
}
/* functionContainer */
/* Optioncontainer */
#OptionCont{
    display: grid;

    grid-template-columns: 1fr 1fr;
    width: 100%;

    margin-top: 20px;

    border: 0px solid black;
    border-radius: 12px;

    overflow: hidden;

    background-color: white;
}
/* Optioncontainer */
/* radiobuttons */
.radioBtns{
    display: none;
}
/* optioncontainer */
/* labels */
.radioBtnsLabel{
    display: flex;
    flex-direction: column;
    justify-content: center;

    border: 0.3px solid rgb(223, 222, 222);

    height: 60px;
    
    padding-left: 25px;
    padding-right: 7px;
    cursor:pointer;
}
.radioBtnsLabel:has(>.radioBtns:checked){ /* //style parent fra et child med pseudoselektor */
    background-color: rgb(152, 224, 244);
}
.radioBtnsLabel:hover{
    background-color: rgba(237, 235, 235, 0.6);
}

/* optioncontainer */
/* label + radiobutton */
.radioBtns .radioBtnsLabel {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

/* FunctionContainer */
/* statsContainer */
#statsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    width: 100%;
    margin-top: 45px;
}
#scoreCont{
    display: flex;
    justify-content: center;

    font-weight: 200;
}
#skipsCont{
    display: flex;
    justify-content:flex-end ;

    font-weight: 200;
}
#wrongAnswCont{
    display: flex;
    justify-content:flex-start;

    font-weight: 200;
}

#score, #skips, #wrongAnswers{
    border-bottom: 0.6px solid grey;
}
/* FunctionContainer */
/* buttoncontainer */
#buttonContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    width:60%;
    margin-top: 18px;
}
#catagory, #checkAnswer, #nextQuestion{
    height: auto;
    color:black;
    width:100%;
}
/* buttoncontainer */
/* select catagory / answer / next question / restart / refresh */
#catagory{
    padding: 12px;

    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-right:none;
    border-width: 0px;

    cursor: pointer;
}
#checkAnswer{
    padding: 12px;

    border-right: none;
    border-left: none;
    border-width: 0px;

    cursor: pointer;

    background-color: white;
}
#nextQuestion{
    padding: 12px;
    
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-width: 0px;
    border-left: none;

    background-color:rgb(20, 229, 159);

    cursor: pointer;
}
.restartBtn{
    padding: 12px;
    
    border-width: 0px;
    border-radius: 12px;

    cursor: pointer;

    background-color: white;
}
.refresh_429{
    padding: 12px;
    
    border-width: 0px;
    border-radius: 12px;

    cursor: pointer;

    background-color: rgb(78, 208, 241);
}

/* buttoncontainer */
/* hover-effcts */
#catagory:hover{
    background-color:rgba(237, 235, 235, 0.6) ;
}
#checkAnswer:hover{
    background-color: rgba(237, 235, 235, 0.6)
}
#nextQuestion:hover{
    opacity: 0.78;
}


@media (width < 835px){
    #statsContainer{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        width: 100%;
    }

    #scoreCont, #skipsCont, #wrongAnswCont{
        justify-content: flex-start;
        padding: 6px;
    }
    #buttonContainer{
        width:80%;
    }
}

@media (width < 635px){
    main{
        font-size: smaller;
    }
    #buttonContainer{
        font-size:smaller;
    }
    #catagory, #checkAnswer, #nextQuestion{
        font-size: smaller;
    }
}
@media (width < 470px){
    #buttonContainer{
        width: 95%;
    }
}

